<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste des recettes</title>
    <span th:replace="~{home :: stylesImports}"></span>
</head>
<body class="container">
    <nav>
        <a th:href="@{/}">Accueil</a>
    </nav>
    <hr>
    <h1 th:if="${isFilter}">Liste des recettes recherchés</h1>
    <h1 th:unless="${isFilter}">Liste de toutes les recettes</h1>

    <h3 th:if="${allRecette == null || allRecette.isEmpty()}">Aucun résultat trouvé</h3>
    <table th:if="${allRecette != null && !allRecette.isEmpty()}" class="table table-dark table-striped border border-secondary">
        <thead>
        <tr>
            <th scope="col">Nom</th>
            <th scope="col">Ingredients</th>
            <th scope="col">Instructions</th>
            <th scope="col">Categories</th>
            <th scope="col">Detail</th>
            <th scope="col">Suppression</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="p : ${allRecette}">
                <td th:text="${p.getNom()}" class="align-middle"></td>
                <td th:text="${p.getIngredients()}" class="align-middle"></td>
                <td th:text="${p.getInstructions()}" class="align-middle"></td>
                <td th:text="${p.getCategorie().getNom()}" class="align-middle"></td>
                <td class="align-middle"><a th:href="@{/recette/detail(uuid = ${p.getId()})}" class="btn btn-outline-primary"><i class="bi bi-eye"></i> Voir détails</a></td>
                <td class="align-middle"><a th:href="@{/recette/delete(uuid = ${p.getId()})}" class="btn btn-outline-danger"><i class="bi bi-trash-fill"></i></a></td>
            </tr>
        </tbody>
    </table>
    <a class="btn btn-outline-primary" th:href="@{/recette/add}"><i class="bi bi-plus-square"></i> Ajouter</a>
</body>
</html>