<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Panier</title>
    <span th:replace="~{listFurniture :: stylesImports}"></span>
</head>
<body>
<main class="container">
    <h1>Panier</h1>
    <hr>
    <h3 th:if="${cartItems == null || cartItems.isEmpty()}">Le panier est vide !</h3>
    <table th:if="${cartItems != null && !cartItems.isEmpty()}" class="table table-dark table-striped border border-secondary">
        <thead>
        <tr>
            <th scope="col">Nom du meuble</th>
            <th scope="col">Quantité</th>
            <th scope="col">Prix unitaire</th>
            <th scope="col">Prix total</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="c : ${cartItems}">
            <td th:text="${c.getFurnitureId().getName()}" class="align-middle"></td>
            <td th:text="${c.getQuantity()}" class="align-middle"></td>
            <td th:text="${c.getFurnitureId().getPrice()}" class="align-middle"></td>
            <td th:text="${c.getQuantity() * c.getFurnitureId().getPrice()}" class="align-middle"></td>
            <td class="align-middle"><a th:href="@{/cart/delete(id = ${c.getId()})}" class="btn btn-outline-danger"><i class="bi bi-trash-fill"></i> Retirer du panier</a></td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-outline-primary" th:href="@{/cart/deleteAll}"><i class="bi bi-plus-square"></i> Vider le panier</a>
    <a class="btn btn-outline-success" th:href="@{/furniture}"> Retour</a>
</main>
</body>
</html>